PP_XML/data/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="title"/>
                            <xs:element type="xs:string" name="author"/>
                            <xs:element type="xs:int" name="year"/>
                            <xs:element type="xs:decimal" name="price"/>
                            <xs:element type="xs:string" name="category"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="required"/>
                        <xs:attribute type="xs:int" name="total" use="required"/>
                        <xs:attribute type="xs:int" name="available" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>